<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xiaokun.advance_practive">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="label,theme,android:allowBackup">
        <activity
            android:name=".im.activity.ImLoginActivity"
            android:label="登录">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity" />
        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.mvp.MvpMainActivity" />
        <activity android:name=".ui.FlatMap1Activity" />
        <activity android:name=".ui.FlatMap2Activity" />
        <activity
            android:name=".ui.NightModeActivity"
            android:theme="@style/NoBarTheme" />
        <activity android:name=".ui.mvp.UniversalActivity" />
        <activity android:name=".ui.viewpager.ViewPagerActivity" />
        <activity android:name=".ui.rxbus.ScrollviewActivity" />
        <activity android:name=".ui.PermissionTestActivity" />
        <activity
            android:name=".ui.big_mvp.BigMvpActivity"
            android:screenOrientation="landscape"
            android:theme="@style/NoBarTheme" />

        <activity android:name=".ui.multi_rv_sample.MultiRvActivity" />
        <activity android:name=".ui.rxjava.MergeArrayActivity" />
        <activity android:name=".ui.ToolbarActivity" />
        <activity android:name=".ui.StateListAnimatorActivity" />
        <activity android:name=".ui.rxjava.RxjavaActivity" />
        <activity android:name=".ui.fragment_nest.FragmentNestActivity" />
        <activity android:name=".ui.unit_test.UnitTestActivity" />


        <receiver
            android:name=".ui.unit_test.MyReceiver"
            android:enabled="true"
            android:exported="false">

            <intent-filter>
                <action android:name="xiaokun.hahaha" />
            </intent-filter>

        </receiver>
        <service android:name=".ui.unit_test.MyService" />

        <activity android:name=".ui.view.AllViewsActivity" />
        <activity android:name=".ui.view.ScrollViewActivity" />
        <activity
            android:name="com.facebook.flipper.android.diagnostics.FlipperDiagnosticActivity"
            android:exported="true" />
        <activity android:name=".ui.rxbus.ProgressWvActivity" />
        <activity
            android:name=".im.activity.ImConversationListActivity"
            android:label="会话列表" />
        <!--<activity android:name=".im.ImLoginActivity" />-->
        <!--<activity android:name=".ui.DatabaseActivity" />-->
    </application>

</manifest>