<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaokun.advance_practive">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name="com.xiaokun.advance_practive.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.xiaokun.advance_practive.ui.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.xiaokun.advance_practive.LoginActivity" />
        <activity android:name="com.xiaokun.advance_practive.ui.MainActivity" />
        <activity android:name="com.xiaokun.advance_practive.ui.mvp.MvpMainActivity" />
        <activity android:name="com.xiaokun.advance_practive.ui.FlatMap1Activity" />
        <activity android:name="com.xiaokun.advance_practive.ui.FlatMap2Activity" />
        <activity
            android:name="com.xiaokun.advance_practive.ui.NightModeActivity"
            android:theme="@style/NoBarTheme" />
        <activity android:name="com.xiaokun.advance_practive.ui.mvp.UniversalActivity" />
        <activity android:name="com.xiaokun.advance_practive.ui.viewpager.ViewPagerActivity" />
        <activity android:name="com.xiaokun.advance_practive.ui.ScrollviewActivity" />
        <activity android:name="com.xiaokun.advance_practive.ui.PermissionTestActivity" />
        <activity
            android:name="com.xiaokun.advance_practive.ui.big_mvp.BigMvpActivity"
            android:screenOrientation="landscape"
            android:theme="@style/NoBarTheme" />

        <activity android:name="com.xiaokun.advance_practive.ui.multi_rv_sample.MultiRvActivity" />
        <activity android:name="com.xiaokun.advance_practive.ui.rxjava.MergeArrayActivity" />
        <activity android:name="com.xiaokun.advance_practive.ui.ToolbarActivity" />
        <activity android:name="com.xiaokun.advance_practive.ui.StateListAnimatorActivity" />
        <activity android:name="com.xiaokun.advance_practive.ui.rxjava.RxjavaActivity" />
    </application>

</manifest>